* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 90%;
    margin: 5rem auto;
}

h1 {
    text-align: center;
    font-size: 4rem;
    text-decoration-line: underline;
}

h1 > .title {
    color: red;
}

h2 {
    font-size: 2rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questions {
    border: 0.1rem solid black;
    width: 50%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#question {
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(128, 128, 128, 0.65);
}

.sub {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 15rem;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

.sub:hover {
    font-weight: bold;
    transform: scale(1.2);
}

.correctStyle {
    background-color: #2ecc71;
}

.incorrectStyle {
    background-color: #e74c3c;
}

#restart {
    padding: 1rem;
    width: 10rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: none;
    margin-top: 5rem;
}

#score {
    font-size: 5rem;
}

#message {
    font-size: 2rem;
    margin-top: 2rem;
    display: none;
}

#img10 {
    background-image: url("../img/good.gif");
    margin-bottom: 1rem;
    width: 500px;
    height: 500px;
    display: none;
}

#img5 {
    background-image: url("../img/good1.gif");
    margin-bottom: 1rem;
    width: 500px;
    height: 350px;
    display: none;
}

#looser {
    background-image: url("../img/looser.png");
    margin-bottom: 1rem;
    width: 500px;
    height: 500px;
    display: none;
}

@media screen and (max-width: 600px){
    #questions {
        width: 100%;
    }
    #score {
        font-size: 2rem;
    }
}

